* {
  -moz-background-clip: border;
  background-clip: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:first-child {
  margin-top: 0;
}
*:last-child {
  margin-bottom: 0;
}
html {
  *zoom: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  unicode-bidi: embed;
  direction: ltr;
  font-size: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]),
canvas:not([controls]),
video:not([controls]) {
  display: none !important;
  visibility: hidden;
  height: 0;
}
br:before {
  content: "\A";
}
abbr[title] {
  border-bottom: 1px dotted;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
blockquote {
  margin: 1.35em 4em;
}
caption {
  display: block;
  background-color: #efefef;
}
code,
kbd,
pre,
samp {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 70%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.5em;
}
img {
  border: 0;
  vertical-align: middle;
  max-width: 100%;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: none;
  margin: 0;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
addres {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:link,
a[href] {
  cursor: pointer;
}
a:active,
a:hover,
a:focus {
  outline: 0;
}
a img {
  border: none;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: normal;
  margin: 0;
  outline: none;
  text-transform: none;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.67em 0;
}
h3 {
  font-size: 1.17em;
  margin: 0.67em 0;
}
h5 {
  font-size: 0.83em;
  margin: 0.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 0.67em 0;
}
b,
strong {
  font-weight: bold;
}
dfn,
em,
i {
  font-style: italic;
}
[hidden],
.hidden {
  display: none !important;
  visibility: hidden;
  height: 0;
}
.horiz-row {
  *zoom: 1;
  padding: 0;
}
.horiz-row:before,
.horiz-row:after {
  content: "";
  display: table;
}
.horiz-row:after {
  clear: both;
}
.horiz-row > li {
  list-style: none;
  display: inline-block;
  *display: inline;
  *margin-left: .3em;
}
.horiz-row > li:first-child {
  *margin-left: 0;
}
.container,
.row {
  width: 100%;
  max-width: 1040px;
  max-width: 65rem;
  margin: 0 auto;
  position: relative;
}
.row {
  margin-bottom: 25px \9;
  margin-bottom: 1.5625rem;
  *zoom: 1;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row:last-child,
.row.last-child {
  margin-bottom: 0;
}
.row .col {
  float: left;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  *position: relative;
  padding: 0 10px \9;
  padding: 0 0.625rem;
}
.row .col:first-child,
.row .col.first-child {
  padding-left: 0;
}
.row .col:last-child,
.row .col.last-child {
  padding-right: 0;
}
.row .centered {
  float: none;
  margin: 0 auto;
  display: block;
}
.row .no-show {
  visibility: hidden;
}
.row .one-fifth {
  width: 20%;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tj {
  text-align: justify;
}
.one {
  width: 86.66666666666666px \9;
  width: 5.416666666666666rem;
  width: 8.333333333333332%;
}
.two {
  width: 173.33333333333331px \9;
  width: 10.833333333333332rem;
  width: 16.666666666666664%;
}
.three {
  width: 260px \9;
  width: 16.25rem;
  width: 25%;
}
.four {
  width: 346.66666666666663px \9;
  width: 21.666666666666664rem;
  width: 33.33333333333333%;
}
.five {
  width: 433.33333333333337px \9;
  width: 27.083333333333336rem;
  width: 41.66666666666667%;
}
.six {
  width: 520px \9;
  width: 32.5rem;
  width: 50%;
}
.seven {
  width: 606.6666666666667px \9;
  width: 37.91666666666667rem;
  width: 58.333333333333336%;
}
.eight {
  width: 693.3333333333333px \9;
  width: 43.33333333333333rem;
  width: 66.66666666666666%;
}
.nine {
  width: 780px \9;
  width: 48.75rem;
  width: 75%;
}
.ten {
  width: 866.6666666666667px \9;
  width: 54.16666666666667rem;
  width: 83.33333333333334%;
}
.eleven {
  width: 953.3333333333333px \9;
  width: 59.58333333333333rem;
  width: 91.66666666666666%;
}
.twelve {
  width: 1040px \9;
  width: 65rem;
  width: 100%;
}
.push-one {
  margin-left: 86.66666666666666px \9;
  margin-left: 5.416666666666666rem;
}
.push-two {
  margin-left: 173.33333333333331px \9;
  margin-left: 10.833333333333332rem;
}
.push-three {
  margin-left: 260px \9;
  margin-left: 16.25rem;
}
.push-four {
  margin-left: 346.66666666666663px \9;
  margin-left: 21.666666666666664rem;
}
.push-five {
  margin-left: 433.33333333333337px \9;
  margin-left: 27.083333333333336rem;
}
.push-six {
  margin-left: 520px \9;
  margin-left: 32.5rem;
}
.push-seven {
  margin-left: 606.6666666666667px \9;
  margin-left: 37.91666666666667rem;
}
.push-eight {
  margin-left: 693.3333333333333px \9;
  margin-left: 43.33333333333333rem;
}
.push-nine {
  margin-left: 780px \9;
  margin-left: 48.75rem;
}
.push-ten {
  margin-left: 866.6666666666667px \9;
  margin-left: 54.16666666666667rem;
}
.push-eleven {
  margin-left: 953.3333333333333px \9;
  margin-left: 59.58333333333333rem;
}
@media screen and (max-width: 960px) {
  .row {
    padding: 0 10px \9;
    padding: 0 0.625rem;
  }
  .row .col:first-child,
  .row .col.first-child {
    padding-right: 10px \9;
    padding-right: 0.625rem;
    padding-left: 10px \9;
    padding-left: 0.625rem;
  }
  .row .col:last-child,
  .row .col.last-child {
    padding-right: 10px \9;
    padding-right: 0.625rem;
    padding-left: 10px \9;
    padding-left: 0.625rem;
  }
  .row .thidden {
    display: none;
  }
  .tone {
    width: 80px \9;
    width: 5rem;
    width: 8.333333333333332%;
  }
  .ttwo {
    width: 160px \9;
    width: 10rem;
    width: 16.666666666666664%;
  }
  .tthree {
    width: 240px \9;
    width: 15rem;
    width: 25%;
  }
  .tfour {
    width: 320px \9;
    width: 20rem;
    width: 33.33333333333333%;
  }
  .tfive {
    width: 400px \9;
    width: 25rem;
    width: 41.66666666666667%;
  }
  .tsix {
    width: 480px \9;
    width: 30rem;
    width: 50%;
  }
  .tseven {
    width: 560px \9;
    width: 35rem;
    width: 58.333333333333336%;
  }
  .teight {
    width: 640px \9;
    width: 40rem;
    width: 66.66666666666666%;
  }
  .tnine {
    width: 720px \9;
    width: 45rem;
    width: 75%;
  }
  .tten {
    width: 800px \9;
    width: 50rem;
    width: 83.33333333333334%;
  }
  .televen {
    width: 880px \9;
    width: 55rem;
    width: 91.66666666666666%;
  }
  .ttwelve {
    width: 960px \9;
    width: 60rem;
    width: 100%;
  }
  .tpush-one {
    margin-left: 80px \9;
    margin-left: 5rem;
  }
  .tpush-two {
    margin-left: 160px \9;
    margin-left: 10rem;
  }
  .tpush-three {
    margin-left: 240px \9;
    margin-left: 15rem;
  }
  .tpush-four {
    margin-left: 320px \9;
    margin-left: 20rem;
  }
  .tpush-five {
    margin-left: 400px \9;
    margin-left: 25rem;
  }
  .tpush-six {
    margin-left: 480px \9;
    margin-left: 30rem;
  }
  .tpush-seven {
    margin-left: 560px \9;
    margin-left: 35rem;
  }
  .tpush-eight {
    margin-left: 640px \9;
    margin-left: 40rem;
  }
  .tpush-nine {
    margin-left: 720px \9;
    margin-left: 45rem;
  }
  .tpush-ten {
    margin-left: 800px \9;
    margin-left: 50rem;
  }
  .tpush-eleven {
    margin-left: 880px \9;
    margin-left: 55rem;
  }
}
@media screen and (max-width: 640px) {
  .mone {
    width: 53.33333333333333px \9;
    width: 3.333333333333333rem;
    width: 8.333333333333332%;
  }
  .mtwo {
    width: 106.66666666666666px \9;
    width: 6.666666666666666rem;
    width: 16.666666666666664%;
  }
  .mthree {
    width: 160px \9;
    width: 10rem;
    width: 25%;
  }
  .mfour {
    width: 213.33333333333331px \9;
    width: 13.333333333333332rem;
    width: 33.33333333333333%;
  }
  .mfive {
    width: 266.6666666666667px \9;
    width: 16.666666666666668rem;
    width: 41.66666666666667%;
  }
  .msix {
    width: 320px \9;
    width: 20rem;
    width: 50%;
  }
  .mseven {
    width: 373.33333333333337px \9;
    width: 23.333333333333336rem;
    width: 58.333333333333336%;
  }
  .meight {
    width: 426.66666666666663px \9;
    width: 26.666666666666664rem;
    width: 66.66666666666666%;
  }
  .mnine {
    width: 480px \9;
    width: 30rem;
    width: 75%;
  }
  .mten {
    width: 533.3333333333334px \9;
    width: 33.333333333333336rem;
    width: 83.33333333333334%;
  }
  .meleven {
    width: 586.6666666666666px \9;
    width: 36.666666666666664rem;
    width: 91.66666666666666%;
  }
  .mtwelve {
    width: 640px \9;
    width: 40rem;
    width: 100%;
  }
  .mpush-one {
    margin-left: 53.33333333333333px \9;
    margin-left: 3.333333333333333rem;
  }
  .mpush-two {
    margin-left: 106.66666666666666px \9;
    margin-left: 6.666666666666666rem;
  }
  .mpush-three {
    margin-left: 160px \9;
    margin-left: 10rem;
  }
  .mpush-four {
    margin-left: 213.33333333333331px \9;
    margin-left: 13.333333333333332rem;
  }
  .mpush-five {
    margin-left: 266.6666666666667px \9;
    margin-left: 16.666666666666668rem;
  }
  .mpush-six {
    margin-left: 320px \9;
    margin-left: 20rem;
  }
  .mpush-seven {
    margin-left: 373.33333333333337px \9;
    margin-left: 23.333333333333336rem;
  }
  .mpush-eight {
    margin-left: 426.66666666666663px \9;
    margin-left: 26.666666666666664rem;
  }
  .mpush-nine {
    margin-left: 480px \9;
    margin-left: 30rem;
  }
  .mpush-ten {
    margin-left: 533.3333333333334px \9;
    margin-left: 33.333333333333336rem;
  }
  .mpush-eleven {
    margin-left: 586.6666666666666px \9;
    margin-left: 36.666666666666664rem;
  }
  .row .col {
    margin-bottom: 25px \9;
    margin-bottom: 1.5625rem;
  }
  .mhidden {
    display: none;
  }
}
/* =============================================================================
   WordPress reset
   ========================================================================== */
.alignnone {
  margin: 0;
}
.aligncenter {
  display: block;
  margin: 0 auto;
}
.alignright {
  float: right;
  margin: 0;
  margin: 0px 0px 15px 15px;
  margin: 0rem 0rem 0.9375rem 0.9375rem;
}
.alignleft {
  float: left;
  margin: 0px 15px 15px 0px;
  margin: 0rem 0.9375rem 0.9375rem 0rem;
}
.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption {
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 96%;
  /* Image does not overflow the content area */

  padding: 5px 3px 10px;
  text-align: center;
}
.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 11px;
  line-height: 17px;
  margin: 0;
  padding: 0 4px 5px;
}
body {
  background-color: #fefefe;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #212121;
  font-size: 16px \9;
  font-size: 1rem;
  line-height: 24px \9;
  line-height: 1.5rem;
  line-height: 1.5;
}
h1 {
  font-weight: 100;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}
a {
  color: inherit;
}
strong {
  font-weight: 700;
}
.btn {
  padding-top: 5px \9;
  padding-top: 0.3125rem;
  padding-right: 15px \9;
  padding-right: 0.9375rem;
  padding-bottom: 5px \9;
  padding-bottom: 0.3125rem;
  padding-left: 15px \9;
  padding-left: 0.9375rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  background-clip: padding-box;
  margin: 0 5px \9;
  margin: 0 0.3125rem;
}
.btn-large {
  padding-top: 10px \9;
  padding-top: 0.625rem;
  padding-right: 25px \9;
  padding-right: 1.5625rem;
  padding-bottom: 10px \9;
  padding-bottom: 0.625rem;
  padding-left: 25px \9;
  padding-left: 1.5625rem;
  font-size: 18px \9;
  font-size: 1.125rem;
}
.block-btn {
  display: block;
}
.white-btn {
  background-color: #fefefe;
  color: #0065a9;
}
.header {
  padding: 25px 0 \9;
  padding: 1.5625rem 0;
  background-color: rgba(254, 254, 254, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.main-nav a:hover {
  background-color: #0065a9;
  color: #fefefe;
}
.headline {
  background-color: #0065a9;
  color: #fefefe;
  padding: 150px 0 \9;
  padding: 9.375rem 0;
  margin: 74px 0px 25px 0px;
  margin: 4.625rem 0rem 1.5625rem 0rem;
}
.site-title {
  font-size: 94px \9;
  font-size: 5.875rem;
}
.panel {
  padding: 50px 0 \9;
  padding: 3.125rem 0;
  border-bottom: 1px solid #0065a9;
}
[data-img] {
  cursor: pointer;
}
h2 {
  font-size: 28px \9;
  font-size: 1.75rem;
  line-height: 28px \9;
  line-height: 1.75rem;
  line-height: 1;
}
p a {
  color: #0065a9;
  text-decoration: underline;
}
p a:hover {
  text-decoration: none;
}
.inline-code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  padding-top: 3px \9;
  padding-top: 0.1875rem;
  padding-right: 5px \9;
  padding-right: 0.3125rem;
  padding-bottom: 3px \9;
  padding-bottom: 0.1875rem;
  padding-left: 5px \9;
  padding-left: 0.3125rem;
  margin: 0 2px \9;
  margin: 0 0.125rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #212121;
  background-color: #ddd;
}
.footer {
  background-color: #0065a9;
  color: #fefefe;
  padding: 50px 0 \9;
  padding: 3.125rem 0;
}
.footer .btn {
  border: 1px solid #fefefe;
  color: #fefefe;
}
[class*="zocial-"] {
  position: relative;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  font-size: 22px \9;
  font-size: 1.375rem;
  line-height: 22px \9;
  line-height: 1.375rem;
  line-height: 1;
  color: #fefefe;
  display: block;
  text-indent: 0;
}
